# Big Model Files
Model/100.stl
Model/Slice/100_15.5_77.5-pins.STL
Model/Slice/100_77.5-100-pins.STL
Model/Slice/Statue.SLDASM
Model/Slice/Suppl/100_15.5_77.5.stl
Model/Slice/Suppl/Models/100_15.5_77.5.SLDPRT
Model/Slice/Suppl/Models/100_77.5-100-pins.SLDPRT
Model/Slice/Suppl/Src/
Model/Src/Geek+Demon+Bust.zip
